{% extends 'site/useraccount/base.html' %}
{% load static generals_tag i18n %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}
{% block content %}
<div class="auth-form">
    <div class="text-center mb-3">
        <img width="100px" src="{% get_settings_first as settings %}{% if settings.logo %}{{settings.logo.url}}{% else %}{% static 'site/lk/images/logo-white.png' %}{% endif %}" alt="Логотип">
    </div>
    <h4 class="text-center mb-4">{% trans 'Авторизация в системе' %}</h4>
    <form method="post" id="login-form">
        {% csrf_token %}
        <div class="form-group mb-2">
            <label class="mb-1"><strong>{% trans 'Логин' %}</strong></label>
            <input type="text" class="form-control" name="username" placeholder="{% trans 'Введите логин' %}">
        </div>
        <div class="form-group">
            <label class="mb-1"><strong>{% trans 'Пароль' %}</strong></label>
            <input type="password" class="form-control" name="password" placeholder="{% trans 'Введите пароль' %}">
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Войти' %}</button>
        </div>
    </form>
    <div class="new-account mt-3">
        <p><a class="text-primary" href="{% url 'useraccount:password_reset' %}">{% trans 'Сбросить пароль' %}?</a> <a class="text-primary" href="{% url 'useraccount:signup' %}">{% trans 'Зарегистрироваться' %}?</a> </p>
    </div>
    <!-- Отображение сообщения об ошибке -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger mt-3">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}