<!-- blogs/partials/blog_page.html -->
{% if request.headers.hx_request %}
    <!-- Полная страница для HTMX запросов -->
    <div id="blog-list">
        <div id="blog-items" class="row row-cols-1 row-cols-md-2 g-4">
            {% include "blogs/partials/blog_list.html" %}
        </div>

        <div id="pagination-container">
            {% include "blogs/partials/blog_pagination.html" %}
        </div>
    </div>
{% else %}
    <!-- Только новые элементы для подгрузки -->
    <div id="blog-items" hx-swap-oob="beforeend">
        {% include "blogs/partials/blog_list.html" %}
    </div>

    <div id="pagination-container" hx-swap-oob="true">
        {% include "blogs/partials/blog_pagination.html" %}
    </div>
{% endif %}