{% for blog in blogs %}
  <div class="col">
    <div class="card h-100 shadow-sm">
      {% if blog.image %}
        <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.name }}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ blog.name }}</h5>
        <p class="card-text">{{ blog.description|truncatewords:20 }}</p>
        <a href="{% url 'blogs:blog_detail' blog.slug %}" class="btn btn-primary">Читать</a>
      </div>
    </div>
  </div>
{% empty %}
  <div class="col-12">
    <p class="text-muted">Нет статей</p>
  </div>
{% endfor %}
