{% extends 'moderation/base.html' %}
{% load static %}

{% block title %}{% endblock title %}
{% block description %}{% endblock description %}
{% block propertytitle %}{% endblock propertytitle %}
{% block propertydescription %}{% endblock propertydescription %}
{% block propertyimage %}{% endblock propertyimage %}
{% block keywords %}{% endblock keywords %}
{% block head %}{% endblock head %}

{% block content %}
<div class="flex-grow-1 container-p-y container-fluid">

    <!-- 1. Виджеты статистики -->
    <div class="card mb-6">
        <div class="card-widget-separator-wrapper">
          <div class="card-body card-widget-separator">
            <div class="row gy-4 gy-sm-1">
              <!-- Виджет 1 -->
              <div class="col-sm-6 col-lg-3">
                <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-4 pb-sm-0">
                  <div>
                    <h4 class="mb-0">56</h4>
                    <p class="mb-0">Новые обращения</p>
                  </div>
                  <span class="avatar w-px-40 h-px-40 me-sm-6">
                    <span class="avatar-initial bg-label-secondary rounded">
                      <i class="icon-base bx bx-envelope icon-lg text-heading"></i>
                    </span>
                  </span>
                </div>
                <hr class="d-none d-sm-block d-lg-none me-6">
              </div>
              <!-- Виджет 2 -->
              <div class="col-sm-6 col-lg-3">
                <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-4 pb-sm-0">
                  <div>
                    <h4 class="mb-0">124</h4>
                    <p class="mb-0">В работе</p>
                  </div>
                  <span class="avatar w-px-40 h-px-40 p-2 me-lg-6">
                    <span class="avatar-initial bg-label-secondary rounded">
                      <i class="icon-base bx bx-time-five icon-lg text-heading"></i>
                    </span>
                  </span>
                </div>
                <hr class="d-none d-sm-block d-lg-none">
              </div>
              <!-- Виджет 3 -->
              <div class="col-sm-6 col-lg-3">
                <div class="d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0 card-widget-3">
                  <div>
                    <h4 class="mb-0">1,248</h4>
                    <p class="mb-0">Решено</p>
                  </div>
                  <span class="avatar w-px-40 h-px-40 p-2 me-sm-6">
                    <span class="avatar-initial bg-label-secondary rounded">
                      <i class="icon-base bx bx-check-circle icon-lg text-heading"></i>
                    </span>
                  </span>
                </div>
              </div>
              <!-- Виджет 4 -->
              <div class="col-sm-6 col-lg-3">
                <div class="d-flex justify-content-between align-items-start">
                  <div>
                    <h4 class="mb-0">32</h4>
                    <p class="mb-0">Спам / Отклонено</p>
                  </div>
                  <span class="avatar w-px-40 h-px-40 p-2">
                    <span class="avatar-initial bg-label-secondary rounded">
                      <i class="icon-base bx bx-block icon-lg text-heading"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- 2. Таблица обращений -->
    <style>
        .card .table th, .card .table td { text-align: left !important; }
    </style>
    <div class="card mb-6">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">База обращений</h5>

          <div class="d-flex gap-2 flex-wrap">

            <!-- Фильтр: Руководитель -->
            <div class="dropdown">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon-base bx bx-user me-1"></i>
                <span class="d-none d-sm-inline">Под моим руководством</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:void(0);">Под моим руководством</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Общее</a></li>
              </ul>
            </div>

            <!-- Кнопка: Перезагрузка -->
            <button class="btn btn-primary btn-sm" type="button" title="Перезагрузить">
              <i class="icon-base bx bx-refresh icon-sm"></i>
            </button>

            <!-- Кнопка: Удалить -->
            <button class="btn btn-primary btn-sm" type="button" title="Удалить выбранное">
              <i class="icon-base bx bx-trash icon-sm"></i>
            </button>

            <!-- Выпадающий список: Поиск -->
            <div class="dropdown">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon-base bx bx-search me-1"></i>
                <span class="d-none d-sm-inline">Поиск по...</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:void(0);" onclick="openSearchModal('Имя')">Имя</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" onclick="openSearchModal('Электронная почта')">Электронная почта</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" onclick="openSearchModal('Номер телефона')">Номер телефона</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" onclick="openSearchModal('Сообщение')">Сообщение</a></li>
              </ul>
            </div>

          </div>
        </div>

        <div class="table-responsive text-nowrap">
          <table class="table text-start">
            <thead class="text-start">
              <tr>
                <th style="width: 40px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="selectAll">
                    </div>
                </th>
                <th>Имя</th>
                <th>Электронная почта</th>
                <th>Объект сотрудничества</th>
                <th>Номер телефона</th>
                <th>Сообщение</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0 text-start">
              <!-- Строка 1 -->
              <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td><strong>Иван Петров</strong></td>
                <td>ivan@example.com</td>
                <td>ЖК "Северный"</td>
                <td>+7 (999) 000-00-01</td>
                <td class="text-truncate" style="max-width: 200px;">Интересует цена за 2-к квартиру...</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="icon-base bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <!-- 🔹 Кнопка: Обработан -->
                      <a class="dropdown-item" href="javascript:void(0);"
                         onclick="markAsProcessed(this, '#1001')">
                         <i class="icon-base bx bx-check me-1"></i> Обработан
                      </a>
                      <!-- 🔹 Кнопка: Удалить -->
                      <a class="dropdown-item" href="javascript:void(0);"
                         onclick="deleteTicket(this, '#1001')">
                         <i class="icon-base bx bx-trash me-1"></i> Удалить
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              <!-- Строка 2 -->
              <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td><strong>Анна Смирнова</strong></td>
                <td>anna.smirnova@mail.ru</td>
                <td>Офис "Центр"</td>
                <td>+7 (999) 000-00-02</td>
                <td class="text-truncate" style="max-width: 200px;">Нужна консультация по аренде...</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="icon-base bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                         onclick="markAsProcessed(this, '#1002')">
                         <i class="icon-base bx bx-check me-1"></i> Обработан
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);"
                         onclick="deleteTicket(this, '#1002')">
                         <i class="icon-base bx bx-trash me-1"></i> Удалить
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              <!-- Строка 3 -->
              <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td><strong>ООО "Вектор"</strong></td>
                <td>info@vector.ru</td>
                <td>Складской комплекс</td>
                <td>+7 (999) 000-00-03</td>
                <td class="text-truncate" style="max-width: 200px;">Предложение о сотрудничестве...</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="icon-base bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                         onclick="markAsProcessed(this, '#1003')">
                         <i class="icon-base bx bx-check me-1"></i> Обработан
                      </a>
                      <a class="dropdown-item" href="javascript:void(0);"
                         onclick="deleteTicket(this, '#1003')">
                         <i class="icon-base bx bx-trash me-1"></i> Удалить
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>

<!-- Модальное окно поиска -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Поиск</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="searchInput" class="form-label" id="searchLabel">Поиск по...</label>
            <input type="text" class="form-control" id="searchInput" placeholder="Введите значение...">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Найти</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block demo %}

<!-- Offcanvas справа -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 100%; max-width: 450px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Создание обращения</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <p>Форма создания нового обращения...</p>
    </div>
    <div class="offcanvas-footer p-3 border-top">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
    </div>
</div>

<!-- Скрипты -->
<script>
    // Открытие модального окна поиска
    function openSearchModal(fieldType) {
        var modalLabel = document.getElementById('searchLabel');
        var modalTitle = document.getElementById('searchModalLabel');
        var searchInput = document.getElementById('searchInput');

        modalTitle.innerText = 'Поиск';
        modalLabel.innerText = 'Поиск по: ' + fieldType;
        searchInput.placeholder = 'Введите ' + fieldType.toLowerCase();

        var searchModal = new bootstrap.Modal(document.getElementById('searchModal'));
        searchModal.show();
    }

    // 🔹 Пометить обращение как "Обработан"
    function markAsProcessed(element, ticketId) {
        // Находим строку таблицы
        var row = element.closest('tr');

        // Визуально помечаем строку (опционально)
        row.style.opacity = '0.6';
        row.querySelector('td:last-child').innerHTML = '<span class="badge bg-label-success"><i class="icon-base bx bx-check me-1"></i>Обработан</span>';

        // 🔹 Здесь можно добавить отправку на сервер (Django AJAX):
        /*
        fetch('/api/tickets/' + ticketId.replace('#', '') + '/process/', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ processed: true })
        })
        .then(response => response.json())
        .then(data => {
            showNotification('Обращение отмечено как обработанное', 'success');
        })
        .catch(error => {
            console.error('Ошибка:', error);
            showNotification('Ошибка при обновлении статуса', 'danger');
        });
        */

        showNotification('Обращение отмечено как обработанное', 'success');
    }

    // 🔹 Удалить обращение
    function deleteTicket(element, ticketId) {
        // Подтверждение удаления
        if (!confirm('Вы уверены, что хотите удалить обращение ' + ticketId + '?')) {
            return;
        }

        // Находим строку таблицы и удаляем её (визуально)
        var row = element.closest('tr');
        row.style.transition = 'opacity 0.3s ease';
        row.style.opacity = '0';
        setTimeout(function() {
            row.remove();
        }, 300);

        // 🔹 Здесь можно добавить отправку на сервер (Django AJAX):
        /*
        fetch('/api/tickets/' + ticketId.replace('#', '') + '/', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => {
            if (response.ok) {
                showNotification('Обращение удалено', 'success');
            } else {
                showNotification('Ошибка при удалении', 'danger');
            }
        })
        .catch(error => {
            console.error('Ошибка:', error);
            showNotification('Ошибка при удалении', 'danger');
        });
        */

        showNotification('Обращение удалено', 'success');
    }

    // 🔹 Уведомление об успехе/ошибке
    function showNotification(message, type) {
        var notification = document.createElement('div');
        notification.className = 'alert alert-' + (type === 'success' ? 'success' : 'danger') + ' alert-dismissible fade show position-fixed';
        notification.style.cssText = 'top: 20px; right: 20px; z-index: 9999; min-width: 300px;';
        notification.innerHTML = `
            ${message}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
        `;
        document.body.appendChild(notification);

        setTimeout(function() {
            notification.remove();
        }, 3000);
    }

    // Хелпер для CSRF-токена (для Django AJAX)
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock demo %}