{% load static %}
<!doctype html>
<html
        lang="en"
        class=" layout-navbar-fixed layout-menu-fixed layout-compact "
        dir="ltr"
        data-skin="default"
        data-assets-path="../../assets/"
        data-template="vertical-menu-template"
        data-bs-theme="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="robots" content="noindex, nofollow" />
  <title>base{% block title %}{% endblock title %}
  </title>
  <!-- Canonical SEO -->
  <meta name="description" content="{% block description %}{% endblock description %}" />
  <meta name="keywords" content="{% block keywords %}{% endblock keywords %}" />
  <meta property="og:title" content="{% block propertytitle %}{% endblock propertytitle %}" />
  <meta property="og:image" content="{% block propertyimage %}{% endblock propertyimage %}" />
  <meta property="og:description" content="{% block propertydescription %}{% endblock propertydescription %}" />
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/favicon/favicon.ico" />

  <link rel="canonical" href="https://themeselection.com/item/sneat-dashboard-pro-bootstrap/" />
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'moderation/fonts/iconify-icons.css' %}" />
  <!-- Core CSS -->
  <!-- build:css assets/vendor/css/theme.css  -->
  <link rel="stylesheet" href="{% static 'moderation/libs/pickr/pickr-themes.css' %}" />
  <link rel="stylesheet" href="{% static 'moderation/css/core.css' %}" />
  <link rel="stylesheet" href="{% static 'moderation/demo.css' %}" />
  <!-- Vendors CSS -->
  <link rel="stylesheet" href="{% static 'moderation/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  <!-- endbuild -->
  <!-- Page CSS -->
  <!-- Helpers -->
  <script src="{% static 'moderation/js/helpers.js' %}"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
  <script src="{% static 'moderation/js/template-customizer.js' %}"></script>
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="{% static 'moderation/config.js' %}"></script>
  {% block head %}{% endblock head %}
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">
    <!-- Menu -->
    <aside id="layout-menu" class="layout-menu menu-vertical menu" >
      <div class="app-brand demo ">
        <a href="index.html" class="app-brand-link">
        <span class="app-brand-logo demo">
          <span class="text-primary">

            <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z" id="path-1"></path>
                <path d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z" id="path-3"></path>
                <path d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z" id="path-4"></path>
                <path d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z" id="path-5"></path>
              </defs>
              <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                  <g id="Icon" transform="translate(27.000000, 15.000000)">
                    <g id="Mask" transform="translate(0.000000, 8.000000)">
                      <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                      </mask>
                      <use fill="currentColor" xlink:href="#path-1"></use>
                      <g id="Path-3" mask="url(#mask-2)">
                        <use fill="currentColor" xlink:href="#path-3"></use>
                        <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                      </g>
                      <g id="Path-4" mask="url(#mask-2)">
                        <use fill="currentColor" xlink:href="#path-4"></use>
                        <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                      </g>
                    </g>
                    <g id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                      <use fill="currentColor" xlink:href="#path-5"></use>
                      <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
        </span>
          <span class="app-brand-text demo menu-text fw-bold ms-2">Sneat</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
          <i class="icon-base bx bx-chevron-left"></i>
        </a>
      </div>
      <div class="menu-inner-shadow"></div>
      <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link">
            <i class="menu-icon icon-base bx bx-home-smile"></i>
            <div>Дашбоард</div>
          </a>
        </li>
        <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-group"></i>
            <div>Пользователи</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="app-ecommerce-dashboard.html" class="menu-link">
                <div>Клиенты</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-ecommerce-dashboard.html" class="menu-link">
                <div>Сотрудники</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link">
            <i class="menu-icon icon-base bx bx-check-shield"></i>
            <div>Роли и права</div>
          </a>
        </li>
        <!-- Apps & Pages -->
        <li class="menu-header small">
          <span class="menu-header-text">ОБЩЕЕ</span>
        </li>
        <li class="menu-item">
          <a href="app-email.html" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-envelope"></i>
            <div>Почта</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="app-ecommerce-dashboard.html" class="menu-link">
                <div>Письма</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-ecommerce-dashboard.html" class="menu-link">
                <div>Настройки</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="app-chat.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-chat"></i>
            <div>Чат</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="app-kanban.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-grid"></i>
            <div data-i18n="Kanban">Kanban</div>
          </a>
        </li>
        <!-- e-commerce-app menu start -->
        <li class="menu-item ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-cart-alt"></i>
            <div>Магазин</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="app-ecommerce-dashboard.html" class="menu-link">
                <div>Товары</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-ecommerce-dashboard.html" class="menu-link">
                <div>Покупки</div>
              </a>
            </li>
          </ul>
        </li>
        <!-- e-commerce-app menu end -->
        <!-- Academy menu start -->
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-book-open"></i>
            <div>Обучение</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="app-academy-dashboard.html" class="menu-link">
                <div>Дашбоард</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-academy-course.html" class="menu-link">
                <div>Мои курсы</div>
              </a>
            </li>
          </ul>
        </li>
        <!-- Academy menu end -->
        <li class="menu-item">
          <a href="maps-leaflet.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-support"></i>
            <div>Обращение</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="maps-leaflet.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-task"></i>
            <div>Тикеты</div>
          </a>
        </li>
        <!-- Components -->
        <li class="menu-header small">
          <span class="menu-header-text">Интеграции</span>
        </li>
        <!-- Cards -->
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-like"></i>
            <div>Соц-сети</div>
            <div class="badge text-bg-primary rounded-pill ms-auto">6</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="cards-basic.html" class="menu-link">
                <div>Telegram</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="cards-advance.html" class="menu-link">
                <div>WhatsApp</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="cards-analytics.html" class="menu-link">
                <div>Вконтакте</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="cards-gamifications.html" class="menu-link">
                <div>Max</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="cards-actions.html" class="menu-link">
                <div>Яндекс Дзен</div>
              </a>
            </li>
          </ul>
        </li>
        <!-- User interface -->
        <li class="menu-item">
          <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-phone"></i>
            <div>Телефония</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="ui-typography.html" class="menu-link">
                <div data-i18n="Typography">Typography</div>
              </a>
            </li>
          </ul>
        </li>

        <!-- Extended components -->
        <li class="menu-item">
          <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-credit-card"></i>
            <div >Плат-системы</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="extended-ui-avatar.html" class="menu-link">
                <div>Точка-банк</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="extended-ui-blockui.html" class="menu-link">
                <div>Сбер-банк</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="extended-ui-drag-and-drop.html" class="menu-link">
                <div>Альфа-банк</div>
              </a>
            </li>
          </ul>
        </li>

        <!-- Forms & Tables -->
        <li class="menu-header small">
          <span class="menu-header-text">Бухгалтерия</span>
        </li>
        <!-- Forms -->
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-stats"></i>
            <div>Расчет зарплат</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="forms-input-groups.html" class="menu-link">
                <div>Взаиморасчеты</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="forms-custom-options.html" class="menu-link">
                <div>Расчет за день</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="forms-editors.html" class="menu-link">
                <div>Расчет за период</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="forms-file-upload.html" class="menu-link">
                <div>Правила расчета</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="forms-pickers.html" class="menu-link">
                <div>Критерии расчета</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="forms-selects.html" class="menu-link">
                <div>Схемы расчета</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="forms-sliders.html" class="menu-link">
                <div>Премии и штрафы</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-wallet"></i>
            <div>Финансы</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="form-layouts-vertical.html" class="menu-link">
                <div>Счета и кассы</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-horizontal.html" class="menu-link">
                <div>Онлайн-кассы</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-sticky.html" class="menu-link">
                <div>Контрагенты</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-sticky.html" class="menu-link">
                <div>Статьи платежей</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-sticky.html" class="menu-link">
                <div>Финансовые операции</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-sticky.html" class="menu-link">
                <div>Документы</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-sticky.html" class="menu-link">
                <div>Операции с ККМ</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-sticky.html" class="menu-link">
                <div>Прием платежей</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-sticky.html" class="menu-link">
                <div>Отчеты</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-layouts-sticky.html" class="menu-link">
                <div>Настройки</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-package"></i>
            <div>Склад</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="form-wizard-numbered.html" class="menu-link">
                <div>Склады</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-icons.html" class="menu-link">
                <div>Товары</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-icons.html" class="menu-link">
                <div>Технологические карты</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-icons.html" class="menu-link">
                <div>Складские операции</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-icons.html" class="menu-link">
                <div>Инвентаризация</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-icons.html" class="menu-link">
                <div>Печать товарных ценников</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-icons.html" class="menu-link">
                <div>Отчеты</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-icons.html" class="menu-link">
                <div>Настройки</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-icons.html" class="menu-link">
                <div>Маркировка товаров</div>
              </a>
            </li>
          </ul>
        </li>
        <!-- Tables -->
        <!-- Charts & Maps -->
        <li class="menu-header small">
          <span class="menu-header-text">Сайты</span>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon icon-base bx bx-task"></i>
            <div>Настройки</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="form-wizard-numbered.html" class="menu-link">
                <div>Настройки</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="form-wizard-numbered.html" class="menu-link">
                <div>SMTP</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="maps-leaflet.html" class="menu-link">
                <div>Шаблон</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item {% if request.resolver_match.url_name == 'moderation_blogs_list' and request.resolver_match.namespace == 'blogs' %}active open{% endif %}">
          <a href="{% url 'blogs:moderation_blogs_list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-news"></i>
            <div>Блог</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="maps-leaflet.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-file"></i>
            <div>Страницы</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="maps-leaflet.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-briefcase"></i>
            <div>Услуги</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="maps-leaflet.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-task"></i>
            <div>Проекты</div>
          </a>
        </li>
        <li class="menu-item {% if request.resolver_match.url_name == 'moderation_cases_list' and request.resolver_match.namespace == 'cases' %}active open{% endif %}">
          <a href="{% url 'cases:moderation_cases_list' %}" class="menu-link">
            <i class="menu-icon icon-base bx bx-trophy"></i>
            <div>Кейсы</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="maps-leaflet.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-images"></i>
            <div>Галереи</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="maps-leaflet.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-money"></i>
            <div>Прайсы</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="maps-leaflet.html" class="menu-link">
            <i class="menu-icon icon-base bx bx-layout"></i>
            <div>Шаблон</div>
          </a>
        </li>
      </ul>


    </aside>

    <div class="menu-mobile-toggler d-xl-none rounded-1">
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1">
        <i class="bx bx-menu icon-base"></i>
        <i class="bx bx-chevron-right icon-base"></i>
      </a>
    </div>
    <!-- / Menu -->



    <!-- Layout container -->
    <div class="layout-page">





      <!-- Navbar -->

      <nav class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">





        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0   d-xl-none ">
          <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
            <i class="icon-base bx bx-menu icon-md"></i>
          </a>
        </div>


        <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">

          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <div class="nav-item navbar-search-wrapper mb-0">
              <a class="nav-item nav-link search-toggler px-0" href="javascript:void(0);">
                <span class="d-inline-block text-body-secondary fw-normal" id="autocomplete"></span>
              </a>
            </div>
          </div>

          <!-- /Search -->





          <ul class="navbar-nav flex-row align-items-center ms-md-auto">



            <!-- Language -->
            <li class="nav-item dropdown-language dropdown me-2 me-xl-0">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <i class="icon-base bx bx-globe icon-md"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-language="en" data-text-direction="ltr">
                    <span>English</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-language="fr" data-text-direction="ltr">
                    <span>French</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-language="ar" data-text-direction="rtl">
                    <span>Arabic</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);" data-language="de" data-text-direction="ltr">
                    <span>German</span>
                  </a>
                </li>
              </ul>
            </li>
            <!--/ Language -->


            <!-- Style Switcher -->
            <li class="nav-item dropdown me-2 me-xl-0">
              <a class="nav-link dropdown-toggle hide-arrow" id="nav-theme" href="javascript:void(0);" data-bs-toggle="dropdown">
                <i class="icon-base bx bx-sun icon-md theme-icon-active"></i>
                <span class="d-none ms-2" id="nav-theme-text">Toggle theme</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-theme-text">
                <li>
                  <button type="button" class="dropdown-item align-items-center active" data-bs-theme-value="light" aria-pressed="false">
                    <span><i class="icon-base bx bx-sun icon-md me-3" data-icon="sun"></i>Light</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="dropdown-item align-items-center" data-bs-theme-value="dark" aria-pressed="true">
                    <span><i class="icon-base bx bx-moon icon-md me-3" data-icon="moon"></i>Dark</span>
                  </button>
                </li>
                <li>
                  <button type="button" class="dropdown-item align-items-center" data-bs-theme-value="system" aria-pressed="false">
                    <span><i class="icon-base bx bx-desktop icon-md me-3" data-icon="desktop"></i>System</span>
                  </button>
                </li>
              </ul>
            </li>
            <!-- / Style Switcher-->
            <!-- Quick links  -->
            <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                <i class="icon-base bx bx-grid-alt icon-md"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end p-0">
                <div class="dropdown-menu-header border-bottom">
                  <div class="dropdown-header d-flex align-items-center py-3">
                    <h6 class="mb-0 me-auto">Shortcuts</h6>
                    <a href="javascript:void(0)" class="dropdown-shortcuts-add py-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Add shortcuts"><i class="icon-base bx bx-plus-circle text-heading"></i></a>
                  </div>
                </div>
                <div class="dropdown-shortcuts-list scrollable-container">
                  <div class="row row-bordered overflow-visible g-0">
                    <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                  <i class="icon-base bx bx-calendar icon-26px text-heading"></i>
                </span>
                      <a href="app-calendar.html" class="stretched-link">Calendar</a>
                      <small>Appointments</small>
                    </div>
                    <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                  <i class="icon-base bx bx-food-menu icon-26px text-heading"></i>
                </span>
                      <a href="app-invoice-list.html" class="stretched-link">Invoice App</a>
                      <small>Manage Accounts</small>
                    </div>
                  </div>
                  <div class="row row-bordered overflow-visible g-0">
                    <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                  <i class="icon-base bx bx-user icon-26px text-heading"></i>
                </span>
                      <a href="app-user-list.html" class="stretched-link">User App</a>
                      <small>Manage Users</small>
                    </div>
                    <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                  <i class="icon-base bx bx-check-shield icon-26px text-heading"></i>
                </span>
                      <a href="app-access-roles.html" class="stretched-link">Role Management</a>
                      <small>Permission</small>
                    </div>
                  </div>
                  <div class="row row-bordered overflow-visible g-0">
                    <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                  <i class="icon-base bx bx-pie-chart-alt-2 icon-26px text-heading"></i>
                </span>
                      <a href="index.html" class="stretched-link">Dashboard</a>
                      <small>User Dashboard</small>
                    </div>
                    <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                  <i class="icon-base bx bx-cog icon-26px text-heading"></i>
                </span>
                      <a href="pages-account-settings-account.html" class="stretched-link">Setting</a>
                      <small>Account Settings</small>
                    </div>
                  </div>
                  <div class="row row-bordered overflow-visible g-0">
                    <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                  <i class="icon-base bx bx-help-circle icon-26px text-heading"></i>
                </span>
                      <a href="pages-faq.html" class="stretched-link">FAQs</a>
                      <small>FAQs & Articles</small>
                    </div>
                    <div class="dropdown-shortcuts-item col">
                <span class="dropdown-shortcuts-icon rounded-circle mb-3">
                  <i class="icon-base bx bx-window-open icon-26px text-heading"></i>
                </span>
                      <a href="modal-examples.html" class="stretched-link">Modals</a>
                      <small>Useful Popups</small>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <!-- Quick links -->
            <!-- Notification -->
            <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <span class="position-relative">
            <i class="icon-base bx bx-bell icon-md"></i>
            <span class="badge rounded-pill bg-danger badge-dot badge-notifications border"></span>
          </span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end p-0">
                <li class="dropdown-menu-header border-bottom">
                  <div class="dropdown-header d-flex align-items-center py-3">
                    <h6 class="mb-0 me-auto">Notification</h6>
                    <div class="d-flex align-items-center h6 mb-0">
                      <span class="badge bg-label-primary me-2">8 New</span>
                      <a href="javascript:void(0)" class="dropdown-notifications-all p-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark all as read"><i class="icon-base bx bx-envelope-open text-heading"></i></a>
                    </div>
                  </div>
                </li>
                <li class="dropdown-notifications-list scrollable-container">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action dropdown-notifications-item">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <img src="avatars/1.png" alt class="rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">Congratulation Lettie 🎉</h6>
                          <small class="mb-1 d-block text-body">Won the monthly best seller gold badge</small>
                          <small class="text-body-secondary">1h ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <span class="avatar-initial rounded-circle bg-label-danger">CF</span>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">Charles Franklin</h6>
                          <small class="mb-1 d-block text-body">Accepted your connection</small>
                          <small class="text-body-secondary">12hr ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <img src="avatars/2.png" alt class="rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">New Message ✉️</h6>
                          <small class="mb-1 d-block text-body">You have new message from Natalie</small>
                          <small class="text-body-secondary">1h ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <span class="avatar-initial rounded-circle bg-label-success"><i class="icon-base bx bx-cart"></i></span>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">Whoo! You have new order 🛒</h6>
                          <small class="mb-1 d-block text-body">ACME Inc. made new order $1,154</small>
                          <small class="text-body-secondary">1 day ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <img src="avatars/9.png" alt class="rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">Application has been approved 🚀</h6>
                          <small class="mb-1 d-block text-body">Your ABC project application has been approved.</small>
                          <small class="text-body-secondary">2 days ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <span class="avatar-initial rounded-circle bg-label-success"><i class="icon-base bx bx-pie-chart-alt"></i></span>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">Monthly report is generated</h6>
                          <small class="mb-1 d-block text-body">July monthly financial report is generated </small>
                          <small class="text-body-secondary">3 days ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <img src="avatars/5.png" alt class="rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">Send connection request</h6>
                          <small class="mb-1 d-block text-body">Peter sent you connection request</small>
                          <small class="text-body-secondary">4 days ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <img src="avatars/6.png" alt class="rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">New message from Jane</h6>
                          <small class="mb-1 d-block text-body">Your have new message from Jane</small>
                          <small class="text-body-secondary">5 days ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar">
                            <span class="avatar-initial rounded-circle bg-label-warning"><i class="icon-base bx bx-error"></i></span>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="small mb-0">CPU is running high</h6>
                          <small class="mb-1 d-block text-body">CPU Utilization Percent is currently at 88.63%,</small>
                          <small class="text-body-secondary">5 days ago</small>
                        </div>
                        <div class="flex-shrink-0 dropdown-notifications-actions">
                          <a href="javascript:void(0)" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                          <a href="javascript:void(0)" class="dropdown-notifications-archive"><span class="icon-base bx bx-x"></span></a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="border-top">
                  <div class="d-grid p-4">
                    <a class="btn btn-primary btn-sm d-flex" href="javascript:void(0);">
                      <small class="align-middle">View all notifications</small>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
            <!--/ Notification -->
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                  <img src="avatars/1.png" alt class="rounded-circle" />
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="pages-account-settings-account.html">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img src="avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <h6 class="mb-0">John Doe</h6>
                        <small class="text-body-secondary">Admin</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider my-1"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="pages-profile-user.html"> <i class="icon-base bx bx-user icon-md me-3"></i><span>My Profile</span> </a>
                </li>
                <li>
                  <a class="dropdown-item" href="pages-account-settings-account.html"> <i class="icon-base bx bx-cog icon-md me-3"></i><span>Settings</span> </a>
                </li>
                <li>
                  <a class="dropdown-item" href="pages-account-settings-billing.html">
              <span class="d-flex align-items-center align-middle">
                <i class="flex-shrink-0 icon-base bx bx-credit-card icon-md me-3"></i><span class="flex-grow-1 align-middle">Billing Plan</span>
                <span class="flex-shrink-0 badge rounded-pill bg-danger">4</span>
              </span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider my-1"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="pages-pricing.html"> <i class="icon-base bx bx-dollar icon-md me-3"></i><span>Pricing</span> </a>
                </li>
                <li>
                  <a class="dropdown-item" href="pages-faq.html"> <i class="icon-base bx bx-help-circle icon-md me-3"></i><span>FAQ</span> </a>
                </li>
                <li>
                  <div class="dropdown-divider my-1"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'useraccount:logout' %}" target="_blank"> <i class="icon-base bx bx-power-off icon-md me-3"></i><span>Выйти</span> </a>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>
      <!-- / Navbar -->
      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row g-6">
            {% block content %}
            {% endblock content %}
            <!-- /Options-->
          </div>
        </div>
        <!-- / Content -->
        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme">
          <div class="container-xxl">
            <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
              <div class="mb-2 mb-md-0">
                ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                , made with ❤️ by <a href="https://themeselection.com" target="_blank" class="footer-link">ThemeSelection</a>
              </div>
              <div class="d-none d-lg-inline-block">
                <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>
                <a href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/" target="_blank" class="footer-link me-6">Documentation</a>
                <a href="https://themeselection.com/support/" target="_blank" class="footer-link d-none d-sm-inline-block">Support</a>
              </div>
            </div>
          </div>
        </footer>
        <!-- / Footer -->
        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->
{% block demo %}{% endblock demo %}

{% block extra_js_top %}{% endblock extra_js_top %}
<!-- Core JS -->
<!-- build:js assets/vendor/js/theme.js  -->
<script src="{% static 'moderation/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'moderation/libs/popper/popper.js' %}"></script>
<script src="{% static 'moderation/js/bootstrap.js' %}"></script>
<script src="{% static 'moderation/libs/@algolia/autocomplete-js.js' %}"></script>
<script src="{% static 'moderation/libs/pickr/pickr.js' %}"></script>
<script src="{% static 'moderation/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'moderation/libs/hammer/hammer.js' %}"></script>
<script src="{% static 'moderation/libs/i18n/i18n.js' %}"></script>
<script src="{% static 'moderation/js/menu.js' %}"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<!-- Main JS -->
<script src="{% static 'moderation/main.js' %}"></script>
<!-- Page JS -->
<script src="{% static 'moderation/app-ecommerce-settings.js' %}"></script>
<script src="{% static 'site/htmx.min.js' %}"></script>
{% block extra_js_bottom %}{% endblock extra_js_bottom %}
</body>
</html>

<!-- beautify ignore:end -->

