{% extends 'moderation/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block description %}{% endblock description %}
{% block propertytitle %}{% endblock propertytitle %}
{% block propertydescription %}{% endblock propertydescription %}
{% block propertyimage %}{% endblock propertyimage %}
{% block keywords %}{% endblock keywords %}
{% block head %}{% endblock head %}
{% block content %}
<div class="col app-chat-contacts app-sidebar flex-grow-0 overflow-hidden border-end" id="app-chat-contacts">
    <div class="sidebar-header px-6 border-bottom d-flex align-items-center">
        <div class="d-flex align-items-center me-6 me-lg-0">
            <div class="flex-shrink-0 avatar avatar-online me-4" data-bs-toggle="sidebar" data-overlay="app-overlay-ex" data-target="#app-chat-sidebar-left">
                <img class="user-avatar rounded-circle cursor-pointer" src="../../assets/img/avatars/1.png" alt="Avatar">
            </div>
            <div class="flex-grow-1 input-group input-group-merge rounded-pill">
                <span class="input-group-text" id="basic-addon-search31"><i class="icon-base bx bx-search icon-sm"></i></span>
                <input type="text" class="form-control chat-search-input" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31">
            </div>
        </div>
        <i class="icon-base bx bx-x icon-lg cursor-pointer position-absolute top-50 end-0 translate-middle d-lg-none d-block" data-overlay="" data-bs-toggle="sidebar" data-target="#app-chat-contacts"></i>
    </div>
    <div class="sidebar-body ps ps--active-y">
        <!-- Chats -->
        <ul class="list-unstyled chat-contact-list py-2 mb-0" id="chat-list">
            <li class="chat-contact-list-item chat-contact-list-item-title mt-0">
                <h5 class="text-primary mb-0">Chats</h5>
            </li>
            <li class="chat-contact-list-item chat-list-item-0 d-none">
                <h6 class="text-body-secondary mb-0">No Chats Found</h6>
            </li>
            <li class="chat-contact-list-item mb-1 active">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-online">
                        <img src="../../assets/img/avatars/13.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="chat-contact-name text-truncate m-0 fw-normal">Waldemar Mannering</h6>
                            <small class="chat-contact-list-item-time">5 Minutes</small>
                        </div>
                        <small class="chat-contact-status text-truncate">Refer friends. Get rewards.</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item mb-1">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-offline">
                        <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="chat-contact-name text-truncate fw-normal m-0">Felecia Rower</h6>
                            <small class="chat-contact-list-item-time">30 Minutes</small>
                        </div>
                        <small class="chat-contact-status text-truncate">I will purchase it for sure. 👍</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item mb-0">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-busy">
                        <span class="avatar-initial rounded-circle bg-label-success">CM</span>
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="chat-contact-name text-truncate fw-normal m-0">Calvin Moore</h6>
                            <small class="chat-contact-list-item-time">1 Day</small>
                        </div>
                        <small class="chat-contact-status text-truncate">If it takes long you can mail inbox user</small>
                    </div>
                </a>
            </li>
        </ul>
        <!-- Contacts -->
        <ul class="list-unstyled chat-contact-list mb-0 py-2" id="contact-list">
            <li class="chat-contact-list-item chat-contact-list-item-title mt-0">
                <h5 class="text-primary mb-0">Contacts</h5>
            </li>
            <li class="chat-contact-list-item contact-list-item-0 d-none">
                <h6 class="text-body-secondary mb-0">No Contacts Found</h6>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar">
                        <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Natalie Maxwell</h6>
                        <small class="chat-contact-status text-truncate">UI/UX Designer</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar">
                        <img src="../../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Jess Cook</h6>
                        <small class="chat-contact-status text-truncate">Business Analyst</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="avatar d-block flex-shrink-0">
                        <span class="avatar-initial rounded-circle bg-label-primary">LM</span>
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Louie Mason</h6>
                        <small class="chat-contact-status text-truncate">Resource Manager</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar">
                        <img src="../../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Krystal Norton</h6>
                        <small class="chat-contact-status text-truncate">Business Executive</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar">
                        <img src="../../assets/img/avatars/8.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Stacy Garrison</h6>
                        <small class="chat-contact-status text-truncate">Marketing Ninja</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="avatar d-block flex-shrink-0">
                        <span class="avatar-initial rounded-circle bg-label-success">CM</span>
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Calvin Moore</h6>
                        <small class="chat-contact-status text-truncate">UX Engineer</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar">
                        <img src="../../assets/img/avatars/10.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Mary Giles</h6>
                        <small class="chat-contact-status text-truncate">Account Department</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar">
                        <img src="../../assets/img/avatars/13.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Waldemar Mannering</h6>
                        <small class="chat-contact-status text-truncate">AWS Support</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="avatar d-block flex-shrink-0">
                        <span class="avatar-initial rounded-circle bg-label-danger">AJ</span>
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Amy Johnson</h6>
                        <small class="chat-contact-status text-truncate">Frontend Developer</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar">
                        <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">Felecia Rower</h6>
                        <small class="chat-contact-status text-truncate">Cloud Engineer</small>
                    </div>
                </a>
            </li>
            <li class="chat-contact-list-item mb-0">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar">
                        <img src="../../assets/img/avatars/11.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="chat-contact-name text-truncate m-0 fw-normal">William Stephens</h6>
                        <small class="chat-contact-status text-truncate">Backend Developer</small>
                    </div>
                </a>
            </li>
        </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 664px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 436px;"></div></div></div>
</div>
<div class="col app-chat-history d-block" id="app-chat-history">
    <div class="chat-history-wrapper">
        <div class="chat-history-header border-bottom">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex overflow-hidden align-items-center">
                    <i class="icon-base bx bx-menu icon-lg cursor-pointer d-lg-none d-block me-4" data-bs-toggle="sidebar" data-overlay="" data-target="#app-chat-contacts"></i>
                    <div class="flex-shrink-0 avatar avatar-online">
                        <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle" data-bs-toggle="sidebar" data-overlay="" data-target="#app-chat-sidebar-right">
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-4">
                        <h6 class="m-0 fw-normal">Felecia Rower</h6>
                        <small class="user-status text-body">NextJS developer</small>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                <span class="btn btn-text-secondary text-secondary cursor-pointer d-sm-inline-flex d-none me-1 btn-icon rounded-pill">
                  <i class="icon-base bx bx-phone icon-md"></i>
                </span>
                    <span class="btn btn-text-secondary text-secondary cursor-pointer d-sm-inline-flex d-none me-1 btn-icon rounded-pill">
                  <i class="icon-base bx bx-video icon-md"></i>
                </span>
                    <span class="btn btn-text-secondary text-secondary cursor-pointer d-sm-inline-flex d-none me-1 btn-icon rounded-pill">
                  <i class="icon-base bx bx-search icon-md"></i>
                </span>
                    <div class="dropdown">
                        <button class="btn btn-icon btn-text-secondary text-secondary rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="true" id="chat-header-actions"><i class="icon-base bx bx-dots-vertical-rounded icon-md"></i></button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="chat-header-actions">
                            <a class="dropdown-item" href="javascript:void(0);">View Contact</a>
                            <a class="dropdown-item" href="javascript:void(0);">Mute Notifications</a>
                            <a class="dropdown-item" href="javascript:void(0);">Block Contact</a>
                            <a class="dropdown-item" href="javascript:void(0);">Clear Chat</a>
                            <a class="dropdown-item" href="javascript:void(0);">Report</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-history-body ps">
            <ul class="list-unstyled chat-history">
                <li class="chat-message chat-message-right">
                    <div class="d-flex overflow-hidden">
                        <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text">
                                <p class="mb-0">How can we help? We're here for you! 😄</p>
                            </div>
                            <div class="text-end text-body-secondary mt-1">
                                <i class="icon-base bx bx-check-double icon-16px text-success me-1"></i>
                                <small>10:00 AM</small>
                            </div>
                        </div>
                        <div class="user-avatar flex-shrink-0 ms-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-message">
                    <div class="d-flex overflow-hidden">
                        <div class="user-avatar flex-shrink-0 me-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                        <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text">
                                <p class="mb-0">Hey John, I am looking for the best admin template.</p>
                                <p class="mb-0">Could you please help me to find it out? 🤔</p>
                            </div>
                            <div class="chat-message-text mt-2">
                                <p class="mb-0">It should be Bootstrap 5 compatible.</p>
                            </div>
                            <div class="text-body-secondary mt-1">
                                <small>10:02 AM</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-message chat-message-right">
                    <div class="d-flex overflow-hidden">
                        <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text">
                                <p class="mb-0">Sneat has all the components you'll ever need in a app.</p>
                            </div>
                            <div class="text-end text-body-secondary mt-1">
                                <i class="icon-base bx bx-check-double icon-16px text-success me-1"></i>
                                <small>10:03 AM</small>
                            </div>
                        </div>
                        <div class="user-avatar flex-shrink-0 ms-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-message">
                    <div class="d-flex overflow-hidden">
                        <div class="user-avatar flex-shrink-0 me-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                        <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text">
                                <p class="mb-0">Looks clean and fresh UI. 😃</p>
                            </div>
                            <div class="chat-message-text mt-2">
                                <p class="mb-0">It's perfect for my next project.</p>
                            </div>
                            <div class="chat-message-text mt-2">
                                <p class="mb-0">How can I purchase it?</p>
                            </div>
                            <div class="text-body-secondary mt-1">
                                <small>10:05 AM</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-message chat-message-right">
                    <div class="d-flex overflow-hidden">
                        <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text">
                                <p class="mb-0">Thanks, you can purchase it.</p>
                            </div>
                            <div class="text-end text-body-secondary mt-1">
                                <i class="icon-base bx bx-check-double icon-16px text-success me-1"></i>
                                <small>10:06 AM</small>
                            </div>
                        </div>
                        <div class="user-avatar flex-shrink-0 ms-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-message">
                    <div class="d-flex overflow-hidden">
                        <div class="user-avatar flex-shrink-0 me-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                        <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text">
                                <p class="mb-0">I will purchase it for sure. 👍</p>
                            </div>
                            <div class="chat-message-text mt-2">
                                <p class="mb-0">Thanks.</p>
                            </div>
                            <div class="text-body-secondary mt-1">
                                <small>10:08 AM</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-message chat-message-right">
                    <div class="d-flex overflow-hidden">
                        <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text">
                                <p class="mb-0">Great, Feel free to get in touch.</p>
                            </div>
                            <div class="text-end text-body-secondary mt-1">
                                <i class="icon-base bx bx-check-double icon-16px text-success me-1"></i>
                                <small>10:10 AM</small>
                            </div>
                        </div>
                        <div class="user-avatar flex-shrink-0 ms-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-message">
                    <div class="d-flex overflow-hidden">
                        <div class="user-avatar flex-shrink-0 me-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                        <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text">
                                <p class="mb-0">Do you have design files for Sneat?</p>
                            </div>
                            <div class="text-body-secondary mt-1">
                                <small>10:15 AM</small>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="chat-message chat-message-right">
                    <div class="d-flex overflow-hidden">
                        <div class="chat-message-wrapper flex-grow-1 w-50">
                            <div class="chat-message-text">
                                <p class="mb-0">Yes that's correct documentation file, Design files are included with the template.</p>
                            </div>
                            <div class="text-end text-body-secondary mt-1">
                                <i class="icon-base bx bx-check-double icon-16px me-1"></i>
                                <small>10:15 AM</small>
                            </div>
                        </div>
                        <div class="user-avatar flex-shrink-0 ms-4">
                            <div class="avatar avatar-sm">
                                <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
        <!-- Chat message form -->
        <div class="chat-history-footer shadow-xs">
            <form class="form-send-message d-flex justify-content-between align-items-center ">
                <input class="form-control message-input border-0 me-4 shadow-none" placeholder="Type your message here...">
                <div class="message-actions d-flex align-items-center">
                <span class="btn btn-text-secondary btn-icon rounded-pill cursor-pointer">
                  <i class="speech-to-text icon-base bx bx-microphone icon-md text-heading"></i>
                </span>
                    <label for="attach-doc" class="form-label mb-0">
                  <span class="btn btn-text-secondary btn-icon rounded-pill cursor-pointer mx-1">
                    <i class="icon-base bx bx-paperclip icon-md text-heading"></i>
                  </span>
                        <input type="file" id="attach-doc" hidden="">
                    </label>
                    <button class="btn btn-primary d-flex send-msg-btn">
                        <span class="align-middle d-md-inline-block d-none">Send</span>
                        <i class="icon-base bx bx-paper-plane icon-sm ms-md-2 ms-0"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
