{% load static generals_tag i18n %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% get_settings_first as settings %}{{settings.name}} - {% block title %}{% endblock title %}</title>
    <meta content="{% block description %}{% endblock description %}" name="description">
    <meta property="og:title" content="{% block propertytitle %} {% endblock propertytitle %}">
    <meta property="og:description" content="{% block propertydescription %}{% endblock propertydescription %}">
    <meta property="og:image" content="{% block propertyimage %}{% endblock propertyimage %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% if settings.favicon %}{{settings.favicon.url}}{% endif %}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'site/website/css/style.css' %}">
    {% block head %}{% endblock head %}
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home"></span> Home</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user"></span> About</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cogs"></span> Services</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        {% block content %}{% endblock content %}
    </div>
</div>
{% block footer_top %}{% endblock footer_top %}
<script src="{% static 'site/htmx.min.js' %}"></script>
<script src="{% static 'site/website/js/jquery.min.js' %}"></script>
<script src="{% static 'site/website/js/popper.js' %}"></script>
<script src="{% static 'site/website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'site/website/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'site/website/js/main.js' %}"></script>
{% block footer_bottom %}{% endblock footer_bottom %}
</body>
</html>
