{% load static generals_tag i18n  %}

<div class="sidebar" id="sidebar">
    <div class="sidebar-nav">
        <nav class="nav flex-column">
                {% with app_name=request.resolver_match.namespace url_name=request.resolver_match.url_name %}

            <div class="nav-item">
                <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">
                    <i class="fas fa-home"></i>Главная
                </a>
            </div>
            <div class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="fas fa-shopping-bag"></i>SH0P
                </a>
                <div class="submenu nav flex-column">
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Каталог товаров</a>
                    <a class="nav-link " href="#">Деталка товара</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">-Отзывы</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">-Следить за ценой</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">-Вопросы</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">-Вариации</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Корзина покупателя</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Акции и распродажи</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Новинки</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Доставка и оплата</a>
                    <hr>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Мои заказы</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Мои адреса доставки</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Мои бонусы</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Избранное</a>
                </div>
            </div>
            <div class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="fas fa-phone"></i>CONNECTION
                </a>
                <div class="submenu nav flex-column">
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Чаты</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Звонки</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Видео свзяь</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Конференция</a>
                </div>
            </div>
            <div class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="fas fa-globe"></i>WEBSITE
                </a>
                <div class="submenu nav flex-column">
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Главная страница</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Контакты</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">О нас</a>
                </div>
            </div>
            <div class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="fas fa-newspaper"></i>Блог
                </a>
                <div class="submenu nav flex-column">
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="{% url 'blogs:list' %}" hx-get="{% url 'blogs:list' %}" hx-target="#content-body" hx-push-url="true">Новости</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}"{% if blogs.0 %} href="{% url 'blogs:blog_detail' blogs.1.slug %}" hx-get="{% url 'blogs:blog_detail' blogs.1.slug %}" hx-target="#content-body" hx-push-url="true" {% endif %}>Детальная страница новости</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}"{% if blogs.0 %} href="{#% url 'blogs:blog_detail' blogs.1.slug %#}" hx-get="{#% url 'blogs:blog_detail' blogs.1.slug %#}" hx-target="#content-body" hx-push-url="true" {% endif %}>Комментарии</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="{% url 'blogs:blog_edit' 1 %}" hx-get="{% url 'blogs:blog_edit' 1 %}" hx-target="#content-body" hx-push-url="true" >Редактирование</a>
                </div>
            </div>
            <div class="nav-item has-submenu">
                <a class="nav-link {% if app_name == 'useraccount' and url_name == 'login' or app_name == 'useraccount' and url_name == 'register'  %} active {% endif %}" href="#">
                    <i class="fas fa-users"></i>Пользователи
                </a>
                <div class="submenu nav flex-column">
                    <a class="nav-link {% if app_name == 'useraccount' and url_name == 'login' %} active {% endif %}" href="{% url 'useraccount:login' %}" hx-get="{% url 'useraccount:login' %}" hx-target="#content-body" hx-push-url="true">Авторизация</a>
                    <a class="nav-link {% if app_name == 'useraccount' and url_name == 'register' %} active {% endif %}" href="{% url 'useraccount:register' %}" hx-get="{% url 'useraccount:register' %}" hx-target="#content-body" hx-push-url="true">Регистрация</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Профиль</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Паспорт</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Права</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Сбросить пароль</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Место положение</a>
                    <a class="nav-link {% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}" href="#">Закладки</a>
                </div>
            </div>
             {% endwith %}
        </nav>
    </div>

    <div class="sidebar-footer">
        <small>© 2023 Цифровой стиль. Все права защищены.</small>
    </div>
</div>