<div class="sidebar" id="sidebar">
    <div class="sidebar-nav">
        <nav class="nav flex-column">
            <div class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fas fa-home"></i>Главная
                </a>
            </div>
            <div class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="fas fa-shopping-bag"></i>SH0P
                </a>
                <div class="submenu nav flex-column">
                    <a class="nav-link" href="#">Главная страница</a>
                    <a class="nav-link" href="#">Каталог товаров</a>
                    <a class="nav-link" href="#">Деталка товара</a>
                    <a class="nav-link" href="#">Корзина покупателя</a>
                    <a class="nav-link" href="#">Акции и распродажи</a>
                    <a class="nav-link" href="#">Новинки</a>
                    <a class="nav-link" href="#">Доставка и оплата</a>
                    <hr>
                    <a class="nav-link" href="#">Мои заказы</a>
                    <a class="nav-link" href="#">Мои адреса доставки</a>
                    <a class="nav-link" href="#">Мои бонусы</a>
                     <a class="nav-link" href="#">Избранное</a>
                </div>
            </div>
             <div class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="fas fa-shopping-bag"></i>WEBSITE
                </a>
                <div class="submenu nav flex-column">
                    <a class="nav-link" href="#">Главная страница</a>


                    <a class="nav-link" href="#">Благотворительность</a>

                    <a class="nav-link" href="#">Контакты</a>
                    <a class="nav-link" href="#">О нас</a>
                    <a class="nav-link" href="#">FAQ</a>
                    <a class="nav-link" href="#">Новости</a>
                    <a class="nav-link" href="#">Деталка новости</a>
                    <a class="nav-link" href="#">Мой профиль </a>
                    <a class="nav-link" href="#">Мои заказы</a>
                    <a class="nav-link" href="#">Мои адреса доставки</a>
                    <a class="nav-link" href="#">Мои бонусы</a>
                     <a class="nav-link" href="#">Избранное</a>
                    <a class="nav-link" href="#">Политика конфиденциальности</a>
                    <a class="nav-link" href="#">Пользовательское соглашение</a>
                    <a class="nav-link" href="#">Страница 404 («Не найдено»)</a>
                </div>
            </div>
             <div class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="fas fa-users"></i>Shop
                </a>
                <div class="submenu nav flex-column">

                     <a class="nav-link" href="#">Каталог товаров</a>
                    <a class="nav-link" href="#">Деталка товара</a>
                     <a class="nav-link" href="#">-Отзывы</a>
                    <a class="nav-link" href="#">-Следить за ценой</a>
                    <a class="nav-link" href="#">-Вопросы</a>
                    <a class="nav-link" href="#">-Вариации</a>
                    <a class="nav-link" href="#">Корзина покупателя</a>
                     <a class="nav-link" href="#">Акции и распродажи</a>
                    <a class="nav-link" href="#">Новинки</a>
                    <a class="nav-link" href="#">Доставка и оплата</a>
<hr>
                                        <a class="nav-link" href="#">Мои заказы</a>
                    <a class="nav-link" href="#">Мои адреса доставки</a>
                    <a class="nav-link" href="#">Мои бонусы</a>
                     <a class="nav-link" href="#">Избранное</a>

                </div>
            </div>
            <div class="nav-item has-submenu">
                <a class="nav-link" href="#">
                    <i class="fas fa-users"></i>Пользователи
                </a>
                <div class="submenu nav flex-column">
                    <a class="nav-link" href="{% url 'useraccount:login' %}" hx-get="{% url 'useraccount:login' %}" hx-target="#content-body" hx-push-url="true">Авторизация</a>
                    <a class="nav-link" href="{% url 'useraccount:register' %}" hx-get="{% url 'useraccount:register' %}" hx-target="#content-body" hx-push-url="true">Регистрация</a>
                    <a class="nav-link" href="#">Ремонт</a>
                    <a class="nav-link" href="#">Доставка</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="sidebar-footer">
        <small>© 2023 Цифровой стиль. Все права защищены.</small>
    </div>
</div>