<!-- projects/partials/project_list.html -->
{% if is_pagination_request %}
<!-- Только элементы блога для пагинации -->
{% for project in projects %}
 <!-- Проект 1: Разработка сайта (корпоративный) -->
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
        <div class="project-two__single">
          <div class="project-two__img-box">
            <div class="project-two__img">
              <img src="{% if project.image %}{{ project.image.url }}{% endif %}" alt="Корпоративный сайт для СтройИнвест">
              <div class="project-two__arrow">
                <a href="{% if project.image %}{{ project.image.url }}{% endif %}" class="img-popup"><span
                        class="fas fa-arrow-right"></span></a>
              </div>
            </div>
            <div class="project-two__content">
              <h3 class="project-two__title"><a href="{% url 'projects:project_detail' project.slug %}">{{ project.name }}</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
{% else %}
<!-- Полный список для первоначальной загрузки -->
{% for project in projects %}
 <!-- Проект 1: Разработка сайта (корпоративный) -->
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
        <div class="project-two__single">
          <div class="project-two__img-box">
            <div class="project-two__img">
              <img src="{% if project.image %}{{ project.image.url }}{% endif %}" alt="Корпоративный сайт для СтройИнвест">
              <div class="project-two__arrow">
                <a href="{% if project.image %}{{ project.image.url }}{% endif %}" class="img-popup"><span
                        class="fas fa-arrow-right"></span></a>
              </div>
            </div>
            <div class="project-two__content">
              <h3 class="project-two__title"><a href="{% url 'projects:project_detail' project.slug %}">{{ project.name }}</a>
              </h3>
            </div>
          </div>
        </div>
      </div>

{% empty %}
<div class="col-12">
    <p class="text-muted">Нет проектов</p>
</div>
{% endfor %}
{% endif %}

