<!-- moderation/blogs/articles.html -->
{% extends 'moderation/base.html' %}
{% load static %}

{% block content %}
<!-- Таблица статей -->
<div id="blog-list">
    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Изображение</th>
                <th scope="col">Название</th>
                <th scope="col">Содержание</th>
                <th scope="col">Статус</th>
                <th scope="col">Автор</th>
                <th scope="col">Дата</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody id="articles-items">
                {% include "moderation/blogs/partials/articles_rows.html" %}
            </tbody>
        </table>
    </div>

    <!-- Пагинация -->
    <div id="pagination-container">
        {% include "moderation/blogs/partials/articles_pagination.html" %}
    </div>
</div>

<!-- индикатор загрузки -->
<div id="loading-indicator" class="text-center my-3" style="display:none;">
    <div class="spinner-border text-primary" role="status"></div>
</div>
{% endblock %}

{% block demo %}
<!-- Кнопка создания -->
<div class="buy-now">
    <a href="#"
       class="btn btn-danger btn-buy-now"
       hx-get="{% url 'blogs:articles_form' %}"
       hx-target="#offcanvas-body-content"
       hx-trigger="click"
       data-bs-toggle="offcanvas"
       data-bs-target="#offcanvasRight">
        Создать
    </a>
</div>

<!-- Offcanvas справа -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" style="width: 100%; max-width: 450px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Статья</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" id="offcanvas-body-content">
        <!-- Сюда загружается форма -->
    </div>
</div>
{% endblock demo %}