{% extends 'moderation/base.html' %}
{% load static %}

{% block content %}
<!-- Таблица лайков -->
<div id="blog-list">
    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Статья</th>
                <th scope="col">Slug статьи</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody id="likes-items">
                {% include "moderation/blogs/partials/likes_rows.html" %}
            </tbody>
        </table>
    </div>

    <div id="pagination-container">
        {% include "moderation/blogs/partials/likes_pagination.html" %}
    </div>
</div>

<!-- индикатор загрузки -->
<div id="loading-indicator" class="text-center my-3" style="display:none;">
    <div class="spinner-border text-primary" role="status"></div>
</div>
{% endblock %}
