{% extends 'moderation/base.html' %}
{% load static %}

{% block content %}
<div id="tags-list">
    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Изображение</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody id="tags-items">
                {% include "moderation/blogs/partials/tags_rows.html" %}
            </tbody>
        </table>
    </div>

    <div id="pagination-container">
        {% include "moderation/blogs/partials/tags_pagination.html" %}
    </div>
</div>

<div id="loading-indicator" class="text-center my-3" style="display:none;">
    <div class="spinner-border text-primary" role="status"></div>
</div>
{% endblock %}

{% block demo %}
<div class="buy-now">
    <a href="#"
       class="btn btn-danger btn-buy-now"
       hx-get="{% url 'blogs:tags_form' %}"
       hx-target="#offcanvas-body-content"
       hx-trigger="click"
       hx-indicator="#offcanvas-loading"
       data-bs-toggle="offcanvas"
       data-bs-target="#offcanvasRight"
       aria-controls="offcanvasRight">
        Создать
    </a>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 100%; max-width: 450px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">
            <span id="form-title">Создание тега</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body" id="offcanvas-body-content" hx-indicator="#offcanvas-loading">
        <div id="offcanvas-loading" class="text-center my-5 htmx-indicator">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
    </div>
</div>
{% endblock demo %}
