{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title> - {% block title %}{% endblock title %}</title>
    <meta content="{% block description %}{% endblock description %}" name="description">
    <meta property="og:title" content="{% block propertytitle %} {% endblock propertytitle %}">
    <meta property="og:description" content="{% block propertydescription %}{% endblock propertydescription %}">
    <meta property="og:image" content="{% block propertyimage %}{% endblock propertyimage %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <!-- Analitic link -->
</head>

<body>

</body>
