<!-- moderation/categoriess/partials/categories_list.html -->
{% if is_pagination_request %}
<!-- Только элементы блога для пагинации -->
{% for categori in categories %}
<div class="col" id="categories-{{ categories.id }}">
    <div class="card h-100 shadow-sm">
        {% if categories.image %}
        <img src="{{ categori.image.url }}" class="card-img-top" alt="{{ categori.name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ categori.name }}</h5>
            <p class="card-text">{{ categori.description|striptags|truncatewords:20 }}</p>
            <button
                data-identification="{{ categori.id }}"
                class="btn btn-primary"
                hx-get="{% url 'blogs:categories_form' categori.id %}"
                hx-target="#offcanvas-body-content"
                hx-indicator="#offcanvas-loading"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                Редактировать
            </button>
        </div>
    </div>
</div>
{% endfor %}

<!-- Индикатор для пагинации -->
{% if categoriess.has_next %}
<div id="pagination-next" hx-get="?page={{ categories.next_page_number }}" hx-trigger="revealed" hx-target="#categories-items" hx-swap="beforeend" hx-indicator="#loading-indicator" hx-select=".col" hx-headers='{"X-Pagination-Request": "true"}'></div>
{% endif %}

{% else %}
<!-- Полный список для первоначальной загрузки -->
{% for categori in categories %}
<div class="col" id="categories-{{ categori.id }}">
    <div class="card h-100 shadow-sm">
        {% if categories.image %}
        <img src="{{ categori.image.url }}" class="card-img-top" alt="{{ categori.name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ categori.name }}</h5>
            <p class="card-text">{{ categori.description|striptags|truncatewords:20 }}</p>
            <button
                data-identification="{{ categori.id }}"
                class="btn btn-primary"
                hx-get="{% url 'blogs:categories_form' categori.id %}"
                hx-target="#offcanvas-body-content"
                hx-indicator="#offcanvas-loading"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                Редактировать
            </button>
        </div>
    </div>
</div>
{% empty %}
<div class="col-12">
    <p class="text-muted">Нет статей</p>
</div>
{% endfor %}
{% endif %}